# This is a MakeHuman target originally developed by Manuel Bastioni.
#
# Original copyright (C) 2014 Manuel Bastioni 
#
# The copyright was explicitly transfered to other team members in 2016.
#
# Copyright (C) 2017 Data Collection AB, https://www.datacollection.se
# Copyright (C) 2017 Joel Palmius 
# Copyright (C) 2017 Jonas Hauquier
#
# The primary legal contact for MakeHuman is Data Collection AB.
#
# For more information, see homepage at http://www.makehuman.org
#
# This file is licensed AGPLv3
#
#    This file is part of MakeHuman (www.makehuman.org).
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# basemesh hm08
15287 .002 .619 -.412
15288 .122 .645 -.287
15289 .002 .675 -.153
15290 -.117 .642 -.286
15291 .094 .622 -.364
15292 .093 .658 -.197
15293 -.091 .625 -.366
15294 -.087 .658 -.197
15295 0 .777 -.352
15296 .04 .780 -.323
15297 .002 .785 -.281
15298 -.035 .780 -.323
15299 .031 .777 -.347
15300 .03 .781 -.288
15301 -.026 .774 -.346
15302 -.025 .781 -.288
15319 .002 .798 -.324

